#body {
    background: #2a3741 url('./footer.svg') no-repeat center fixed;
    background-size: cover;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
}

#body.portfolio {
    background: #d9d9d9 url('./footer.svg') no-repeat center fixed;
    background-size: cover;
}
